/* About Us */

.about {
    box-shadow: inset 0 0 30px #ff00008c;
    border: 1px solid #d11313;
    padding: 10px;
    margin-top: 1px;
    padding-bottom: 1%;
    margin-bottom: 0px;
}

.title {
    color: #5f1414;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    padding-bottom: 20px;
}

.title:hover {
    animation: shake 0.5s;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.about h1 {
    color: #c00000;
    font-size: 3rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
}

.about-us {
    color: #ca4c4c;
    font-size: larger;
    font-weight: 200;
    font-style: oblique;
    text-align: center;
    padding: 7px;
    font-family: 'Space Grotesk', sans-serif;
}