.available {
    margin-top: 10px;
    text-decoration: underline;
    color: #573333;
}

.tv-shows-container {
    text-align: center;
}

.tv-show-item {
    list-style: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ee1c00;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postershow img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
}

.genreshow {
    font-size: 12px;
    color: #D32F2F;
}

.seasonsshow {
    font-size: 13px;
    color: #FF5722;
}

.summaryshow {
    font-size: 15px;
    color: #665959;
    font-style: italic;
}

.tv-show-item button {
    background-color: #d94141;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tv-show-item button+button {
    margin-left: 10px;
}


.tv-show-item button:hover {
    background-color: #bf3030;
}

.titleshow:hover {
    text-decoration: underline;
    font-size: x-large;
}