.available {
    margin-top: 10px;
    text-decoration: underline;
    color: #573333;
}

.watched-container {
    text-align: center;
}

.watched-show-item {
    list-style: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ee1c00;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
}

.watched-show-item h3 {
    color: #db4d34;
}

.watched-show-item p {
    font-size: 16px;
    color: #b93f29;
}

.watched-show-item button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #df1f1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.watched-show-item button:hover {
    background-color: #ff0606b6;
}